type motorola_mods_app, domain, coredomain;

app_domain(motorola_mods_app)

net_domain(motorola_mods_app)

allow motorola_mods_app gbfirmware_file:dir r_dir_perms;
allow motorola_mods_app gbfirmware_file:file rw_file_perms;
allow motorola_mods_app sysfs_vibrator:file rw_file_perms;
allow motorola_mods_app sysfs_usb_supply:dir search;
allow motorola_mods_app sysfs_vibrator:dir search;
allow motorola_mods_app self:netlink_kobject_uevent_socket { bind create read setopt };
allow motorola_mods_app activity_service:service_manager find;
allow motorola_mods_app sysfs_greybus:dir { r_file_perms search };
allow motorola_mods_app sysfs_greybus:file { getattr rw_file_perms };

allow motorola_mods_app sysfs_greybus:lnk_file { read getattr };
allow motorola_mods_app sysfs_batt_mods:dir { r_dir_perms search };
allow motorola_mods_app mods_service:service_manager { add find };

allow motorola_mods_app mods_service:service_manager {add find };
allow motorola_mods_app radio_service:service_manager find;
allow motorola_mods_app registry_service:service_manager find;
allow motorola_mods_app batterystats_service:service_manager find;
allow motorola_mods_app batteryproperties_service:service_manager find;

allow motorola_mods_app sysfs:dir { open read };
allow motorola_mods_app sysfs:file { getattr open read };
