allow priv_app device:dir { open read };
allow priv_app rfs_system_file:dir getattr;
allow priv_app input_device:chr_file getattr;
allow priv_app input_device:dir search;
allow priv_app camera_prop:file open;
allow priv_app proc_interrupts:file { open read };
allow priv_app proc_modules:file { getattr open read };
allow priv_app sysfs:file r_file_perms;

