[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Motorola griffin maintainers
	push = group Motorola griffin maintainers
[access "refs/heads/*"]
	create = group Motorola griffin maintainers
	push = +force group Motorola griffin maintainers
	pushMerge = group Motorola griffin maintainers
	label-Code-Review = -2..+2 group Motorola griffin maintainers
	label-Verified = -1..+1 group Motorola griffin maintainers
	submit = group Motorola griffin maintainers
